!!! 5
html(lang="en")
	head
		title= 'Couchpress / ' + title
		link(rel= 'stylesheet', href= '/css/admin.css')
	body
		header
			a(href= '/admin')
				img(src= '/img/logo.png', alt= 'Couchpress')
			nav
				ul
					a(href= '/admin')
						li= 'Posts'
			nav.right
				ul
					a(href= '/logout')
						li= 'Logout'
		section.title= title
		section.content
			!= body