form#editor(method= 'post', action= '/admin/edit')
	input#title(type="text", name="title", placeholder="Title")
	.tray
		.visual
			button#bold.edit
				img(src= '/img/tray/icon-bold.png')
			button#italic.edit
				img(src= '/img/tray/icon-italic.png')
			button#underline.edit
				img(src= '/img/tray/icon-underline.png')
		.visual
			button#InsertUnorderedList.edit
				img(src= '/img/tray/icon-unordered.png')
			button#InsertOrderedList.edit
				img(src= '/img/tray/icon-ordered.png')
		.toggle-mode
			button#visual.selected= 'Visual'
			button#html= 'HTML'
	
	.editor-visual(contenteditable= 'true', designmode= 'on)
	textarea.editor-html(name="body", rows="20")
	input#submit(type="submit", value="Publish")
script(type= 'text/javascript', src= 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(type= 'text/javascript', src= '/js/editor.js')