- if(typeof(articles) != 'undefined')
	- each article in articles
		.article
			- var link = 'view/' + article._id
			a(href= link, class= 'title')
				h1= article.title
			span.created= article.created_at
			span.body!= article.body
- else
	.article= "Sorry, no posts found."