!!! 5
html(lang="en")
    head
        title= title
        link(rel= 'stylesheet', href= '/style.css')
    body
        header
            a(href='/')
                h1= 'CouchPress'
        section.content
            != body