body {
	margin: 0; padding: 0;
	font-family: "Helvetica Neue", "Arial", Sans-serif;
}

h1 {
	margin: 0;
}

header {
	padding: 30px;
	background: #333;
	color: #FFF;
}

	header #wrap {
		position: relative;
		margin: 0 auto;
		width: 840px;
	}
	
	header a {
		color: #FFF;
		text-decoration: none;
	}
	
	header a:hover {
		color: #CCC;
	}
	
	header .login {
		display: inline-block;
		position: absolute;
		top: 10px;
		right:0;	
	}

div.article, form#new {
	display: block;
	margin: 30px auto;
	padding: 20px;
	width: 800px;
	border: 1px solid #DDD;
	border-bottom: 3px solid #CCC;
}

	div.article a {
		display: inline-block;
		color: #000;
		text-transform: capitalize;
		text-decoration: none;
	}
	
	div.article a h1:hover {
		color: #AAA;
	}

	div.article span.created {
		margin-bottom: 5px;
		display: block;
		font-size: 0.8em;
		color: #AAA;
	}
	
	form#new input, form#new textarea {
		display: block;
		width: 790px;
		padding: 5px;
		border: 1px solid #CCC;
		border-radius: 3px;
		outline: none;
		font-size: 1em;
	}
	
	form#new input:focus, form#new textarea:focus {
		border: 1px solid #AAA;
	}
	
		form#new #title {
			font-size: 1.5em;
			font-weight: bold;
		}
		
		form#new textarea {
			margin: 15px 0;
		}
		
		form#new #submit {
			padding: 10px 15px;
			width: 100px;
			background: #CCC;
			background: -webkit-linear-gradient(top, #EEE, #CCC);
			background: -moz-linear-gradient(top, #EEE, #CCC);
			cursor: pointer;
		}
		
		form#new #submit:hover {
			background: #EEE;
			background: -webkit-linear-gradient(top, #FAFAFA, #DDD);
			background: -moz-linear-gradient(top, #FAFAFA, #DDD);
		}