::selection {
	background: #FFA;
}

* {
	font-family: "Helvetica Neue", "Arial", Sans-serif;
	-webkit-font-smoothing: antialiased;	
}

body {
	margin:0; padding:0;
}

header {
	position: fixed;
	top: 0;
	background: #333;
	height: 46px; width: 100%;
	margin: 0; padding: 0;
	font-size: 1em;
	z-index: 100;
}

	header img {
		float: left;
		margin: 11px 15px;
		cursor: pointer;
	}
	
	header img:hover {opacity: 0.5;}

nav {
	display: inline-block;
	padding-right: 10px;
}

	nav ul, nav li {display: inline-block; margin: 0; padding: 0}
	
	nav a li {
		list-style-type: none;
		display: inline-block;
		padding: 15px 10px;
		cursor: pointer;
		font-size: 0.9em;
		color: #DDD;
	}
	
	nav a li:hover {color: #FFF;}
	nav a li:active {background: #222;}
	
	nav li.selected {
		position: relative;
		top: 2px;
		background: #FFF;
		color: #000;
		text-shadow: 0 1px 1px #CCC;
	}

nav.right {
	position: absolute;
	top: 0;
	right:0;	
}

.title {
	background: #DDD;
	margin-top: 46px;
	padding: 20px;
	border-bottom: 1px solid #CCC;
	font-size: 2em;
	color: #555;
}

.title button {
	float: right;	
}

.content {
	margin: 20px auto;
	max-width: 800px;	
}
	.article {
		position: relative;
		padding: 15px 20px;
		border-bottom: 1px solid #DDD;	
	}
	
	.article a {text-decoration: none;}
	
	.article h1 {
		margin: 0;
		margin-right: 10px;
		display: inline-block;
		color: #555;
	}
	
	.article span.status.published {color: #080;}
	.article span.status.draft {color: #800;}
	
	.article span.created {
		display: block;
		margin-top: 3px;
		font-size: 0.9em;
		color: #AAA;	
	}

	.article .tags {
		font-weight:bold;
	}

	.article .tags .tag {
		color: #777;
		margin-left: 5px;
	}

	.article .tags .tag:hover {
		color: #55c;
	}

	.article .tags .tag:after {
		font-weight:normal;
		color: #ccc;
		content: ',';
	}

	.article h2 {
		margin:0;
		font-size: 1.2em;
	}

	.article span.slug {
		color: #777;
	}

	.article span.type {
		float:right;
		font-family:serif;
		font-style:oblique;
		color:#888;
	}
	
	
	.article .right {
		display: inline;
		opacity: 0;
		position: absolute;
		top: 31px;
		right: 20px;
	}
	
		.article .right a {
			text-transform: uppercase;
			font-weight: bold;
			color: #AAA;
			margin-left: 10px;
		}
		
		.article .right a:hover {
			color: #555;
		}

.article:hover > a h1,
.article:hover > .right {
	color: #000;
	opacity: 1;
}

.message {
	display: none;
	width: 790px;
	background: #FFC;
	border: 1px solid #EEB;
	padding: 10px 20px;
	margin-top: 20px;
}

.settings {
	padding-top: 20px;
}

	.settings h1,
	.settings label {
		text-transform: capitalize;
		color: #555;
	}
	
	.settings label:after {
		content: ':';
	}

	.settings table td:first-child {
		width: 300px;
	}
	
	.settings input {
		display: inline-block;
		width: 500px;
		font-size: 1em;
		border: 1px solid #CCC;
		padding: 8px;
		outline: none;
		font-weight: normal;
	}
	
	.settings input:disabled {
		color: #888;
		background: #EEE;
	}
	
	.settings input:focus {
		border: 1px solid #888;
	}
	
	.buttons {
		height: 40px;
		padding: 10px 0;
		margin-top: 20px;
	}
	
	.settings a {
		text-decoration: none;
	}
	
	.settings #submit,
	.settings #cancel {
		display: inline;
		padding: 10px 15px;
		margin-right: 10px;
		width: 100px;
		font-size: 0.8em;
		font-weight: bold;
		color: #555;
		background: #DDD;
		border: 1px solid #AAA;
		cursor: pointer;
		box-shadow: inset 0 1px 1px #FFF;
	}
		
	.settings #submit:hover,
	.settings #cancel:hover {
		background: #EEE;
	}
		
	.settings #submit:active, 
	.settings #cancel:active {
		background: #555;
		color: #FFF;
		box-shadow: inset 0 1px 1px #222;
	}
	
form input {
	display: block;	
	padding: 15px 20px;
	width: 790px;
	border: 1px solid #DDD;
	outline: none;
	font-size: 1.4em;
	font-weight: bold;
	color: #555;
}	

	form input#title {
		margin-bottom: 10px;	
	}
	
	form#newtitle input {
		width: 100%;
		max-width: 760px;
	}
	
	form#newtitle input:focus, 
	form#new input:focus, 
	form#new textarea:focus,
	.editor-visual {
		border: 1px solid #888;
	}
	
	.slugger {
		width: 790px;
		background: #FFC;
		border: 1px solid #EEB;
		padding: 10px 20px;
		margin: 10px 0;
	}
	
	.slugger input {
		display: inline-block;
		width: 400px;
		margin:0; padding: 0;
		border: 0;
		background: transparent;
		font-size: 1em;
		font-family: 'Consolas', Monospace;	
		font-weight: normal;
		cursor: pointer;
	}

	.tags {
		margin:10px 0;
		width: 790px;
	}

	.tags input[type='text'] {
		padding:5px 20px;
		font-weight: normal;
	}
	
	#fullscreen-area:-webkit-full-screen  {
		width: 100% !important;
		height: 100% !important;
	}

	
	.tray {
		background: #DDD;
		min-width: 810px;
		padding: 10px;
		border: 1px solid #CCC;
		border-bottom: 0;
		position: relative;
	}
	
	:-webkit-full-screen .tray,
	:-moz-full-screen .tray {
		width: 100% !important;	
	}
	
	.tray div {
		display: inline-block;
		border: 1px solid #AAA;
		border-right: 0;
		margin-right: 10px;
	}
	
		.tray button {
			margin:0;
			height: 30px;
			background: #EEE;
			border: 0;
			border-right: 1px solid #AAA;
			box-shadow: inset 0 1px 1px #FFF;
			font-weight: bold;
		}
		
		.tray button:hover {
			background: #FFF;	
		}
		
		.tray button.edit,
		.tray button.other {
			width: 32px;	
		}
		
		.tray button.edit img {
			width: 12px;
			position: relative;
			top: 2px;
			left: -1px;
		}
		
		.tray button.selected, .tray button:active {
			background: #555;
			color: #FFF;
			box-shadow: inset 0 1px 1px #333;	
		}
		
		.tray .toggle-mode {
			position: absolute;
			top: 10px;
			right: 0;	
		}
		
		#fullscreen img {
			top: 1px;
			position: relative;
			
		}
	
	.preview {
		display: none;
		color: #555;
		width: 790px;
		min-height: 300px;
		padding: 20px;
		border: 1px solid #DDD;
		outline: none;
		margin-bottom: 10px;
		line-height: 1.4em;
	}
	
	.preview p:first-child {
		margin-top: 0;
	}
	
	.preview pre {
		display: block;	
	}
	
	.preview code {
		display: inline-block;	
	}
	
	.preview pre, 
	.preview code {
		background: #EEE;
		border: 1px solid #CCC;
		font-family: 'Courier';
		padding: 0 3px;
		font-size: 0.9em;
		line-height: 1.1em;
	}
	
	.preview pre > code {
		background: transparent;
		border: 0;
		padding: 5px;
		font-size: 1em;
		line-height: 1.4em;
	}
	
	.preview blockquote {
		border-left: 5px solid #EEE;
		padding-left: 10px;	
	}
	
	.preview img {
		max-width: 790px;
	}
	
		
		form#editor textarea {
			min-width: 790px;
			min-height:400px;
			padding: 20px;
			border: 1px solid #DDD;
			outline: none;
			font-size: 1em;
			color: #555;
			margin: 0;
		}
		
		#fullscreen-area:-webkit-full-screen textarea,
		#fullscreen-area:-webkit-full-screen .preview {
			width: 100% !important;
			height: 100% !important;	
		}
		
		.editor-markdown {
			font-family: 'Consolas';	
		}
		
		form#editor #go {
			display: inline;
			padding: 10px 15px;
			width: 100px;
			font-size: 0.8em;
			background: #DDD;
			border: 1px solid #AAA;
			cursor: pointer;
			box-shadow: inset 0 1px 1px #FFF;
		}
		
		form#editor #go:hover {
			background: #EEE;
		}
		
		form#editor #go:active {
			background: #555;
			color: #FFF;
			box-shadow: inset 0 1px 1px #222;
		}
		
		form#editor input[type=checkbox] {
			display: inline;
			width: 14px;
			margin-left: 10px;
		}
		
		form#editor span {
			font-size: 14px;
		}


		form#uploader {

		}
		form#uploader input[type='file'] {
			padding:5px 20px;
			background-color:#eee;
		}
		form#uploader #go {
			/*float: right;*/
			display: inline;
			padding: 10px 15px;
			width: 100px;
			font-size: 0.8em;
			background: #DDD;
			border: 1px solid #AAA;
			cursor: pointer;
			box-shadow: inset 0 1px 1px #FFF;
		}
		
		form#uploader #go:hover {
			background: #EEE;
		}
		
		form#uploader #go:active {
			background: #555;
			color: #FFF;
			box-shadow: inset 0 1px 1px #222;
		}

#dialog {
	display: none;
	opacity: 0;
	position: fixed;
	box-shadow: 0 0 18px rgba(0,0,0,0.4);
	width: 400px;
	background-color: #FFF;
	z-index: 2000;
	margin: 0 auto;
}
	#dialog-title {
		padding: 10px;
		font-size: 1.2em;
		border: 1px solid #CCC;
		background-color: #DDD;
	}
	
	#dialog-content {
		padding: 10px;	
	}
	
	#dialog-body {
		font-size: 0.9em;
	}
	
		#dialog-body label {
			display: block;
			font-weight: bold;
			margin-top: 5px;
		}

		#dialog-body input[type=text] {
			display: block;
			width: 368px;
			margin: 5px auto;
			padding: 5px;
			border: 1px solid #CCC;
			font-size: 1em;
			outline:none;
		}
		
		#dialog-body input[type=text]:focus {
			border: 1px solid #888;
		}
		
		#dialog-body input[type=file] {
			width: 380px;
			padding: 8px 0;
		}

	#dialog-buttons {
		backgound-color: #EEE;
		padding-top: 10px;
		height: 35px;
	}
	
		.dialog-button {
			min-width: 80px;
			float: right;
			background-color: #DDD;
			border: 1px solid #AAA;
			box-shadow: inset 0 1px 1px #FFF;
			font-size: 0.8em;
			font-weight: bold;
			color: #555;
			padding: 8px;
			margin-left: 5px;
		}
		
		.dialog-button:hover {
			background-color: #EEE;
		}
		
		.dialog-button:active {
			background: #555;
			color: #FFF;
			box-shadow: inset 0 1px 1px #222;	
		}

#overlay {
	display: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 1000;
}

footer {
	max-width: 790px;
	margin: 20px auto;
	color: #888;
	font-size: 0.8em;
}

footer a {
	color: #555;
}

footer a:hover {
	text-decoration: none;
}