- if(typeof(articles) != 'undefined')
	- each article in articles
		if(article.status != 'draft')
			.article
				- var link = '/' + article._id
				a(href= link, class= 'title')
					h1= article.title
				span.created= article.created_at + ' by ' + article.user
				span.body!= article.body
- else
	.article= "Sorry, no posts found."