.article
	h1= article.title
	- if (article.tags)
		.tags= 'Tags: '
			- each tag in article.tags
				a.tag(href='/tag/'+encodeURIComponent(tag))= tag
	span.created= article.created_at
	span.body!= article.body